<h1>YOUR LIFE IN WEEKS</h1>

<div class="weeks_table">

  <div class="row">
    <% (0..@weeks_lived).each do |week| %>
        <div class='sq alive live'></div>
    <% end %>

    <% (0..@weeks_left).each do |week| %>
        <div class='sq alive remain'></div>
    <% end %>
  </div>

