<h1>YOUR LIFE IN WEEKS</h1>


<%= print(@week_ids) %>

<div class="weeks_table">


  <div class="row">
    <% @weeks_lived_array.each do |week| %>
        <td><%= link_to raw('<div class="sq alive live"></div>'), edit_week_path(week) %></td>
    <% end %>

    <% @weeks_left_array.each do |week| %>
        <td><%= link_to raw('<div class="sq alive remain"></div>'), edit_week_path(week) %></td>
    <% end %>
  </div>

