<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">fvgit inreparabile tempvs:</h1>
        <p class="lead">"it escapes, irretrievable time"</p>
        <p class="lead">
          <a href="/users/sign_in" class="btn btn-lg btn-default">Sign up now</a>

        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>