// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alive {
  width: 10px;
  height: 10px;
  padding: 1px;
  margin: 1px;
  background: blue;
  float: left;
}

.good {
  background: green;
}

.bad {
  background: red;
}

.remain {
  width: 10px;
  height: 10px;
  padding: 1px;
  margin: 1px;
  background: gray;
  float: left;
}

.weeks_table {
  text-align: center;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
}