// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sq {
  width: 1px;
  height: 1px;
  padding: 2px;
  margin: 2px;
  background: gray;
  float: left;
}